<!DOCTYPE HTML>
<html>
 </ul>
        </div>
      </nav>
    </header>
    <div id="site_content">
           <Center> <h1>APPOINTMENT GENRATION</h1></Center> 
            </div>
		 <p><strong>FORM</strong></p>
<fieldset>
    <legend></legend>
    <label>
      Name
      <input type="text" name="name" required>
    </label>
    <div class="two-cols">
      <label>
        Email address
        <input type="email" name="email" required>
      </label>
      <label>
        Phone number
        <input type="tel" name="phone">
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend>Appointment Order</legend>
    
    <p>Confirmation requested by</p>
    <div class="inline">
      <label>
        <input type="radio" name="Confirmation requested by" value="email" checked>
        Email
      </label>
      <label>
        <input type="radio" name="Confirmation requested by" value="phone">
        Phone call
      </label>
    </div>
  </fieldset>
      <div class="row">
          <div class="col-md-12">
                <Center> <h1>-----------------UNDER CONSTRUCTIONS-------------------</h1></Center> 
  </div>
</form>