<!DOCTYPE HTML>
<html>
 </ul>
        </div>
      </nav>
    </header>
    <div id="site_content">
           <Center> <h1>INTERVIEW PREPARATION</h1></Center> 
            </div>
		 <p><strong>INTRODUCTION</strong></p>
<p>A &ldquo;Preparing for an interview primarily means taking time to thoughtfully consider your goals and qualifications relative to the position and employer. To accomplish this, you should perform research on the company and carefully review the job description to understand why you would be a good fit.<p>&nbsp;</b> Let’s look at the steps to preparing for an interview.The moment has arrived, except much sooner than you anticipated. An awesome company wants to meet with you! And, as luck would have it, they have an opening in their schedule—tomorrow! Wondering how to prepare for an interview when you’ve been given next to no heads up? Deep breaths, It’s not terribly complicated. Even if you have fewer than 24 hours, a little job interview preparation can help you stand out from the other candidates.<p>&nbsp;<br>
</p>
<p><strong>1. Carefully examine the job description</strong></p>
<p>&ldquo;During your prep work, you should use the employer’s posted job description as a guide.The job description is a list of the qualifications, qualities and background the employer is looking for in an ideal candidate. The more you can align yourself with these details, the more the employer will be able to see that you are qualified. The job description may also give you ideas about questions the employer may ask throughout the interview.</p>
<p>&nbsp;</p>
<p><strong>2. Consider why you are interviewing and your qualifications</strong></p>
<p>&ldquo;Before your interview, you should have a good understanding of why you want the job and why you’re qualified. You should be prepared to explain your interest in the opportunity and why you’re the best person for the role.</p>
<p>&nbsp;</p>
<p><strong>3. Perform research on the company and role</strong></p>
<p>&ldquo;Researching the company you’re applying to is an important part of preparing for an interview. Not only will it help provide context for your interview conversations, but it will also help you when preparing thoughtful questions for your interviewers.

    <p>&nbsp;<br> Researching the company and role as much as possible will give you an edge over the competition. Not only that, but fully preparing for an interview will help you remain calm so that you can be at your best. Here are a few things you should know before you walk into your interview:
    
        <p>&nbsp;<br> Research the product or service:
    Even if the role isn't directly related to the company's product or service, you're still looking to be part of the team. It's important to learn all you can about the product or service the company produces and promotes. You don't necessarily need to understand each and every detail, especially if it's a technical product, and you're interviewing for a non-technical position, but you should have a basic understanding of the main products or services the company offers.
    
    <p>&nbsp;<br>If possible, request a sample of the product to familiarize yourself with the customer’s perspective. The more you can tell them about the product from both a company and customer standpoint, the better you'll perform in your interview.</p>
<p>&nbsp;</p>
<p><strong>4. Research the role</strong></p>
<p>&ldquo;It's important to read the job description carefully and make sure that you understand all the requirements and responsibilities that go along with it. This will not only prepare you with thoughtful, targeted questions about the position during the interview, but it will ensure that you're truly qualified and prepared to tackle the responsibilities if you get the job.

    If possible, research similar positions and read reviews from individuals in those positions, so you can get an idea of what the day-to-day activities will be. During the interview, ask for clarification or details about the role, so you can be sure you're ready should you receive a job offer. Researching the role before an interview will also help you to decide whether or not the position is right for you.</p>
<p>&nbsp;</p>
<p><strong>5.Practice your speaking voice and body language </strong></p>
<p>&ldquo;It’s important to make a positive and lasting impression during the interview process. You can do this by practicing a confident, strong speaking voice and friendly, open body language. While these might come naturally to you, you might also want to spend time performing them with trusted friends or family or in front of a mirror. Pay special attention to your smile, handshake and stride.</p>
    <p>&ldquo;To learn more about interview body language, consider the following resources</p>
    <a href="https://barclayslifeskills.com/"> visit barclayslifeskills!</a>
    <p>&nbsp;</p>
    <p><strong>6. Introduce yourself and respond to "Tell me about yourself" </strong></p>
    <p>&ldquo;Typically you’ll be seated in a room to wait until your interviewer comes to meet you. You may want to use this time to get out your pen and paper for notes, take a drink of water and a couple of deep breaths to relax your body. When your interviewer enters the room, greet them confidently by standing up, extending your hand to shake theirs, stating your name and smiling.

        <p>&nbsp;<br> It’s likely that your interviewer knows the role you are applying for and has seen your resume. Still, you should prepare a short statement to make sure you’re they know who you are and what role you’re applying for. Something like,
        
            <p>&nbsp;<br>“It’s great to meet with you to talk about the associate role on your events team.”
        
        <p>&nbsp;<br>Once introductions have been made, you can give them a hard copy of your resume, if they don’t already have one. You will likely exchange a few pleasantries and get into the interview questions—especially if they’ve got a busy day. If they begin the conversation, let them take the lead.
        
            <p>&nbsp;<br>  If there’s a bit of silence, don’t be afraid to lead with your own elevator pitch that quickly summarizes your professional background and interest in the job. Here’s an example that someone applying for a graphic design position might use:
        
                <p>&nbsp;<br> “I’m a graphic designer with over five years of experience specializing in creating beautiful, unique website experiences that make users’ time with a brand more enjoyable. I’m looking forward to growing my management skills to hopefully develop and inspire a team of my own.”
        
                    <p>&nbsp;<br> One common interview question you may be asked early on is, “Tell me about yourself.” Having an internal outline (or written, if helpful—but avoid reading it directly to keep things conversational) can help guide your answer. Keep it concise and focused on why your background makes you the best fit for this job opportunity.
        
      <p>&nbsp;<br>  Being prepared ahead of time can help calm your nerves, so do some research on the company and, if possible, your interviewers. This will help guide the rest of the conversation, set you up to answer questions intelligently and ask solid, informed questions of your own. Presenting yourself as knowledgeable and confident shows your potential employers that you’re the right choice for the opportunity. Take a look at our Complete Guide to Researching a Company to get started.
        
        <p>&nbsp;<br>  It’s appropriate to write down notes as the conversation progresses. &rsquo;You can refer to these notes to ask any questions at the end of the interview and can reference them when you follow-up after the interview to show them you were attentive and valued your time with them.
        
            <p>&nbsp;<br> The interviewer wants to hire someone qualified for the role, but also someone who they genuinely want to work with and will be a good addition to the company culture. As you’re answering their questions and preparing to ask your own, remember to be yourself and let your personality show.
        
                <p>&nbsp;<br> Remember to breathe and take the conversation one step at a time. It’s appropriate to pause to collect your thoughts and say, “Let me take a moment to think about that” before beginning to answer—in fact, this can send a positive signal to your interviewer that you are invested in giving them the best possible response.</p>
                <p>&nbsp;</p>
